version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - POETRY_VIRTUALENVS_CREATE=false

  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    command: sh -c "if [ ! -d node_modules ]; then npm install; fi && npm run dev"
    depends_on:
      - backend
